<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Assets/Design/header_styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/footer_styles.css" />
    <title>Contact</title>
</head>
<body>
    <header>
        <div class="wrapper">
          <h1>Travel Agency<span class="orange">.</span></h1>
          <nav>
            <ul>
              <li><a href="/index.html">Accueil</a></li>
              <li><a href="/Views/destination.html">Destination</a></li>
              <li><a href="/Views/possibilities.html">Circuit</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <section id="contact" style="height: 421px;">
        <div class="wrapper">
          <h3>Contacter-nous</h3>
          <p>
            Chez Travel Agency nous savons que voyager est une aventure humaine
            mais également un engagement financier important pour vous. C'est
            pourquoi nous mettons un point d'honneur à prendre en compte chacune
            de vos attentes pour vous aider dans la préparation de votre séjour,
            circuit ou voyage sur mesure.
          </p>
          <form>
              <label for="name">Nom</label>
              <input type="text" id="name" placeholder="ex: Aurélie Boutillier">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="ex: aurelie.b@gmail.com">
              <input type="submit" value="Valider" class="button-3">
          </form>
        </div>
      </section>
      <footer>
        <div class="wrapper">
            <h2>Travel Agency <span class="orange">.</span></h2>
        </div>
        <div class="copyright">Copyright &#169; Tous droits réservés</div>
    </footer>
</body>
</html>