<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/header_styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/destination_styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/footer_styles.css" />
    <title>Travel Agency destination</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <h1>Travel Agency<span class="orange">.</span></h1>
        <nav>
          <ul>
            <li><a href="/index.html">Accueil</a></li>
            <li><a href="/Views/possibilities.html">Circuit</a></li>
            <li><a href="/Views/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="possibilities_destination">
      <div class="wrapper">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

        <table id="myTable">
          <tr class="header">
            <th style="width:60%;">Nom</th>
            <th style="width:40%;">Ville</th>
          </tr>
          <tr>
            <td>La Canée</td>
            <td>Crête</td>
          </tr>
          <tr>
            <td>Héraklion</td>
            <td>Crête</td>
          </tr>
          <tr>
            <td>Réthymnon</td>
            <td>Crête</td>
          </tr>
          <tr>
            <td>La plage d’Elafonissi</td>
            <td>Crête</td>
          </tr>
          <tr>
            <td>Denver</td>
            <td>Colorado</td>
          </tr>
          <tr>
            <td>Séquoia</td>
            <td>Calirfornie</td>
          </tr>
          <tr>
            <td>Portland</td>
            <td>Main</td>
          </tr>
          <tr>
            <td>Canyonlands</td>
            <td>Utah</td>
          </tr>
        </table> 
      </div>
    </section>
    <footer>
        <div class="wrapper">
            <h2>Travel Agency <span class="orange">.</span></h2>
        </div>
        <div class="copyright">Copyright &#169; Tous droits réservés</div>
    </footer>
  </body>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
</html>
