<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/header_styles.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Design/styles.css" />

    <link rel="stylesheet" type="text/css" href="/Assets/Design/footer_styles.css" />
    <title>Travel Agency possibilities</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <h1>Travel Agency<span class="orange">.</span></h1>
        <nav>
          <ul>
            <li><a href="/index.html">Accueil</a></li>
            <li><a href="/Views/destination.html">Destination</a></li>
            <li><a href="/Views/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="possibilities" style="height: 431px;">
      <div class="wrapper">
        <article style="background-image: url(/Assets/img/partezenfamille.jpg);">
          <div class="overlay">
            <h4>Partez en famille</h4>
            <p>
              <small
                >Offrez le meilleur à ceux que vous aimez et partagez des
                moments fabuleux !
              </small>
            </p>
            <a href="#" class="button-2">Plus d'infos</a>
          </div>
        </article>
        <article style="background-image: url(/Assets/img/sévader.jpg);">
          <div class="overlay">
            <h4>Envie de s'évader</h4>
            <p>
              <small>
                Parfois un peu d'évasion serait le bienvenue et ferait le plus grand bien !
              </small>
            </p>
            <a href="#" class="button-2">Plus d'infos</a>
          </div>
        </article>
      </div>
    </section>
    <footer>
        <div class="wrapper">
            <h2>Travel Agency <span class="orange">.</span></h2>
        </div>
        <div class="copyright">Copyright &#169; Tous droits réservés</div>
    </footer>
  </body>
</html>
