/* ------------------Footer------------------ */
#contact {
    margin-top: 10px;
    padding: 60px 0;
    text-align: center;
}
#contact h3 {
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02d8dd;
    padding-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
}
form {
    margin: 60px 0 20px 0;
}
label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}
input {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
    font-style: italic;
}
input[placeholder]{
    font-size: 15px;
}
.button-3 {
    color: #777;
    font-size: 15px;
    padding: 10px;
    background-color: #ff7100;
    border-style: none;
    transition: 0.7s;
    cursor: pointer;
}
.button-3:hover {
    color: #0e0c0c;
    background-color: #ff7100;
}
.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    color: #777;
}
footer {
    height: 260px;
    background-color: #444;
}
footer h2{
    color: #ddd;
    text-align: center;
    font-size: 55px;
    padding: 70px;
}