/* ----------------------------Global---------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-size: 15px;
}
.orange {
    color: #ff7100;
    border-radius: 50%;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 auto;
}
/* ----------------------------Main-image--------------------------- */
#main-image {
    height: 580px;
    background: url(/Assets/img/playa2.jpg) center top no-repeat;
    object-fit: cover;
    background-color: #cafbfc;
}
#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
    color: #444;
    font-size: 55px;
}
/* -------------------------steps----------------------------- */
#steps ul {
    margin: 80px 0;
}
#steps ul li {
    width: 300px;
    float: left;
}
#step-1 {
    background: url(/Assets/img/stylo.png) no-repeat top center;
    background-size: 6em;
}
#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}
#steps p {
    line-height: 20px;
    width: 255px;
    color: #777;
    letter-spacing: 1px;
}
#step-2 {
    background: url(/Assets/img/organiser.jpg) no-repeat top center;
    background-size: 9em;
}
#step-3 {
    background: url(/Assets/img/fusee.png) no-repeat top center;
    background-size: 7em;
}
.clear {
    clear: both;
}
/* --------------------------Possibilities----------------------- */
#possibilities {
    background-color: #efefef;
    padding: 60px 0;
    height: 260px;
}
#possibilities article {
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#possibilities article:first-child {
    margin-right: 20px;
}
#possibilities p {
    text-align: center;
    margin-bottom: 20px;
}
article h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.overlay {
    background: rgba(207, 207, 207, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}
small {
    font-size: 13px;
    font-style: italic;
}
h4 {
    font-size: 24px;
    color: #444;
}
p {
    line-height: 20px;
    color: #777;
}
/* -----------------------------Button--------------------------------- */
.button-1 {
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7100;
    color: #ddd;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    transition: 0.8s;
}
.button-1:hover {
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7100;
    color: #130f0f;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    border-radius: 10%;
}
.button-2 {
    color: #ddd;
    background-color: #ff7100;
    padding: 6px 20px;
    transition: 0.5s;
}
.button-2:hover {
    color: #0e0c0c;
    background-color: #ff7100;
    padding: 6px 20px;
    border-radius: 10px;
}